.title {
    padding: 5px
}

img {
    width: 400px;
    border: 5px solid black;

}

.cardInCooking {
    height: 400px;
    width: 400px
}

.cardInCooking h5 {
    padding-top: 5px;
}

.material-symbols-outlined{
    font-size: 30px;
    vertical-align: middle;
    margin-left: 20px;

}

.cookInstructions{
    background-color: white;
    border: 2px dotted black;
    max-width: 1000px;
    align-items: center;
}

@media (max-width: 765px) {
    .containerInCooking{
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.ingredients {
    text-decoration: underline;
}